notebooks/
_pycache_/
basil/
basil_meshes/
.vscode
.DS_Store
somafeatures_run2/
soma_json_files/
pinky_meshes/
extract_somatic_features/fanc/
extract_somatic_features/minnie_v661/
figures/
*.png
*.pkl
*.mp4
*.h5
__pycache__
.ipynb_checkpoints
.DS_Store
.git
**/*.zip